.me {
  margin: 10px;
}

body {
  background-image: url("../img/city.gif");
}

.name {
  font-weight: bold;
  color: black;
  font-size: 50px;
  padding: 5px;
  background-color: maroon;
}
.me .well img {
width: 100%;
}

.me .well {
  height: 100%;
  background-image: url("../img/backdrop.png");
  text-align: center;
  font-family: monospace;
  float: left;
}

.col-md-2 {
  height: 100%
}

.me .well h1 {

}

.me .well h2 {
  text-decoration: underline;
  color: maroon;
}

.navigation .well {
  background-image: url("../img/backdrop.png");
  background-repeat: round;
  text-align: center;
  font-style: italic;
}

.navigation li {
  font-size: 20px;
  align-items: center;
}

.navigation h1 {
  font-size: 50px;
  text-decoration: underline;
  color: white;
}

.panel{
  margin-right: 10px;
  background-color: rgba(81, 81, 81,0.9);
}

.panel-body {
  color: rgb(200, 200, 200)
}

.aboutme .well {
  margin-right: 50px;
  background-color: rgb(81, 81, 81);
}

.aboutme .abouttext{
  color: white;
  font-size: 20px;
}

.projectlist p {
  color: lightgray;
  font-size: 10px;
}
