.sidebar {
  width: 30%;
  float: right;
  background-color: red;
  border: 2px solid green;
  margin: 12px;
  padding: 5px;
}

body {
  background-color: black;
}

.img {
  width: 50%;
  float: left;
}

.intro {
  color: white;
}
